
*Debug/
Task_5/Timer/stopwatch.cpp
Task_5/Timer/stopwatch.h
Task_6/PreConcurrent/main (1).cpp
*.dll
Task_7/testData.adc
Task_8/DataBase/CMakeLists.txt.user
Task_8/DataBase/CMakeLists.txt.user
09_UDPsocket/
*.user
*.user
